# Simpson's Paradox
Use `admission_data.csv` for this exercise.

In [1]:
# Load and view first few lines of dataset
import pandas as pd
df = pd.read_csv('admission_data.csv')
df.head()

   student_id  gender      major  admitted
0       35377  female  Chemistry     False
1       56105    male    Physics      True
2       31441  female  Chemistry     False
3       51765    male    Physics      True
4       53714  female    Physics      True

### Proportion and admission rate for each gender

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
student_id    500 non-null int64
gender        500 non-null object
major         500 non-null object
admitted      500 non-null bool
dtypes: bool(1), int64(1), object(2)
memory usage: 12.3+ KB

In [3]:
# Proportion of students that are female
num_females = sum(df['gender'] == 'female')
prop_females = num_females/len(df['gender'])
print(prop_females)

0.514

In [4]:
# Proportion of students that are male
num_males = sum(df['gender'] == 'male')
prop_males = num_males/len(df['gender'])
print(prop_males)

0.486

In [8]:
# Admission rate for females
female_df = df.query('gender == "female"')
female_df.drop('gender', axis=1, inplace=True)
female_df['admitted'].value_counts().apply(lambda x: float(x) / female_df.groupby('admitted').size().sum()*100)

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

False    71.206226
True     28.793774
Name: admitted, dtype: float64

In [30]:
# Admission rate for males
male_df = df.query('gender == "male"')
male_df.drop('gender', axis=1, inplace=True)
male_df['admitted'].value_counts().apply(lambda x: float(x) / male_df.groupby('admitted').size().sum()*100)
male_df.query('major == "physics"')

SyntaxError: invalid syntax (<ipython-input-30-d5acaa7dd392>, line 5)

### Proportion and admission rate for physics majors of each gender

In [32]:
# What proportion of female students are majoring in physics?
female_df['major'].value_counts().apply(lambda x: float(x) / female_df.groupby('major').size().sum()*100)

Chemistry    87.937743
Physics      12.062257
Name: major, dtype: float64

In [33]:
# What proportion of male students are majoring in physics?
male_df['major'].value_counts().apply(lambda x: float(x) / male_df.groupby('major').size().sum()*100)

Physics      92.592593
Chemistry     7.407407
Name: major, dtype: float64

In [36]:
# Admission rate for female physics and Chemistry majors
female_admitted = female_df.query('admitted == True')
female_admitted['major'].value_counts().apply(lambda x: float(x) / female_admitted.groupby('major').size().sum()*100)

Chemistry    68.918919
Physics      31.081081
Name: major, dtype: float64

In [38]:
# Admission rate for male physics and Chemistrymajors
male_admitted = male_df.query('admitted == True')
male_admitted['major'].value_counts().apply(lambda x: float(x) / male_admitted.groupby('major').size().sum()*100)

Physics      98.305085
Chemistry     1.694915
Name: major, dtype: float64

### Admission rate for each major

In [39]:
# Admission rate for physics and chemistry majors
df_admitted = df.query('admitted == True')
df_admitted['major'].value_counts().apply(lambda x: float(x) / df_admitted.groupby('major').size().sum()*100)

Physics      72.395833
Chemistry    27.604167
Name: major, dtype: float64